{% block password_widget %}
    {%- set type = type|default('password') -%}
    {%- set attr = attr|merge({'class': 'form-control' }) -%}

    {% set js_check -%}
        (function () {
        if (event.preventDefault) event.preventDefault(); else event.returnValue = false;

        var password = event.target.value,
        feedback = document.querySelector('#' + event.target.id + '_strength_feedback');
        if (password.length < 8) {
        feedback.className = 'invalid-feedback d-block text-danger';
        feedback.innerText = 'Votre mot de passe est vulnérable';
        } else if (password.match(/[A-Z]+/g)
        && password.match(/[a-z]+/g)
        && password.match(/[\d]+/g)
        && password.match(/[\W]+/g)) {
        feedback.className = 'invalid-feedback d-block text-success';
        feedback.innerText = 'Votre mot de passe est fort';
        } else {
        feedback.className = 'invalid-feedback d-block text-warning';
        feedback.innerText = 'Votre mot de passe est faible';
        }
        }());
    {%- endset %}

    {% set js_toogle -%}
        (function () {
        if (event.preventDefault) event.preventDefault(); else event.returnValue = false;

        var passwordInput = document.getElementById('{{ id }}'),
        button = event.target.type === 'button' ? event.target : event.target.parentNode,
        icon = button.firstChild;
        if (passwordInput.getAttribute('type') === 'password') {
        passwordInput.setAttribute('type', 'text');
        button.title = 'Masquer le mot de passe';
        icon.classList.toggle('fa-eye');
        icon.classList.toggle('fa-eye-slash');
        } else {
        passwordInput.setAttribute('type', 'password');
        button.title = 'Afficher le mot de passe';
        icon.classList.toggle('fa-eye');
        icon.classList.toggle('fa-eye-slash');
        }
        }());
    {%- endset %}

    <div class="input-group">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} onchange="{{ js_check|raw }}">
        <button class="btn btn-outline-secondary" type="button" onclick="{{ js_toogle|raw }}" title="Afficher le mot de passe"><i class="fa fa-eye"></i></button>
        <div id="{{ id }}_strength_feedback" class="invalid-feedback">Mot de passe</div>
    </div>
{% endblock %}
